.venv
.ipynb_checkpoints
.vscode
postgres_config
local
**/__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.idea

src/dbt_star/logs
src/dbt_star/star_schema/logs
src/dbt_star/star_schema/target