name: it_one

# x-image:
#    &image
#    image: ${OZONE_IMAGE:-apache/ozone}:${OZONE_IMAGE_VERSION:-2.1.0}${OZONE_IMAGE_FLAVOR:-}

# x-common-config:
#    &common-config
#    OZONE-SITE.XML_hdds.datanode.dir: "/data/hdds"
#    OZONE-SITE.XML_ozone.metadata.dirs: "/data/metadata"
#    OZONE-SITE.XML_ozone.om.address: "om"
#    OZONE-SITE.XML_ozone.om.http-address: "om:9874"
#    OZONE-SITE.XML_ozone.recon.address: "recon:9891"
#    OZONE-SITE.XML_ozone.recon.db.dir: "/data/metadata/recon"
#    OZONE-SITE.XML_ozone.replication: "1"
#    OZONE-SITE.XML_ozone.scm.block.client.address: "scm"
#    OZONE-SITE.XML_ozone.scm.client.address: "scm"
#    OZONE-SITE.XML_ozone.scm.datanode.id.dir: "/data/metadata"
#    OZONE-SITE.XML_ozone.scm.names: "scm"
#    OZONE-SITE.XML_ozone.security.enabled: "false"
#    OZONE-SITE.XML_hadoop.security.authentication: "simple"
#    OZONE-SITE.XML_ozone.security.http.kerberos.enabled: "false"
#    OZONE-SITE.XML_ozone.scm.container.size: "100MB" # "1GB"
#    OZONE-SITE.XML_ozone.scm.metadata.size: "100MB"
#    OZONE-SITE.XML_ozone.scm.replication.factor: "1"
#    OZONE-SITE.XML_hdds.scm.safemode.min.datanode: "1"
#    no_proxy: "om,recon,scm,s3g,localhost,127.0.0.1"

services:
  airflow:
    image: apache/airflow:3.1.7rc1-python3.13
    
  airflow-pipeline:
    build:
      context: .
      dockerfile: Dockerfile.spark_app
      target: airflow_pipeline
    ports:
      - "5678:5678"
    env_file:
      - path: ./env/spark.env
        required: true
      - path: ./env/database_docker.env
        required: true

  kafka:
    image: apache/kafka:3.7.0
    env_file:
      - path: ./env/kafka_broker.env
        required: true

  kafka-pipeline:
    build:
      context: .
      dockerfile: Dockerfile.spark_app
      target: kafka_pipeline
    ports:
      - "5678:5678"
    env_file:
      - path: ./env/kafka.env
        required: true
      - path: ./env/spark.env
        required: true
      - path: ./env/database_docker.env
        required: true

  # ozone:
  #   image: apache/ozone:2.1.0-rocky
  #   entrypoint: tail -f /dev/null

  seaweedfs:
    image: chrislusf/seaweedfs:4.07
    ports:
      - "10456:8333"
      - "10457:23646"
    # entrypoint: tail -f /dev/null
    environment:
      AWS_ACCESS_KEY_ID: admin
      AWS_SECRET_ACCESS_KEY: key
    command: "server -s3 -dir=/data"
    # volumes:
      # - ./s3/s3.json:/opt/seaweedfs/config/s3.json

  spark-upload:
    build:
      context: .
      dockerfile: Dockerfile.spark_app
      target: spark_upload
    env_file:
      - path: ./env/database_docker.env
        required: true
      - path: ./env/spark.env
        required: true
      - path: ./env/s3_docker.env
        required: true
    depends_on:
      - spark-master
      - spark-worker
    ports:
      - "5678:5678"

  spark-master:
    # 7077:7077 api
    # 10458:8080 ui
    build:  
      context: .
      dockerfile: Dockerfile.spark_app
      target: spark_base
    command: >
      sh -c "
        /opt/spark/sbin/start-master.sh;
        tail -F /opt/spark/logs/spark-spark-org.apache.spark.deploy.master*.out
      "
    ports:
      - "10458:8080"
      
  spark-worker:
    build:
      context: .
      dockerfile: Dockerfile.spark_app
      target: spark_base
    depends_on:
      - spark-master
    command: >
      sh -c "
        /opt/spark/sbin/start-worker.sh spark://spark-master:7077;
        tail -F /opt/spark/logs/spark-spark-org.apache.spark.deploy.worker*.out
      "
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=1G

  database-lib:
    image: postgres:17.5
    restart: unless-stopped
    ports:
      - "10452:5432"
    env_file:
      - ./env/database.env

  clickhouse:
    image: clickhouse:25.11.3.54-jammy
    restart: unless-stopped
    env_file:
      - path: ./env/clickhouse.env
        required: true
    ports:
      - "10453:8123"
      - "10454:9000"

  grafana:
    image: grafana/grafana:12.3.0-18765596677-ubuntu
    restart: unless-stopped
    env_file:
      - ./grafana/.env
    ports:
      - "10455:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/grafana.ini:/usr/local/etc/grafana/grafana.ini
    depends_on:
      - clickhouse

# # Ozone
#   datanode:
#     <<: *image
#     ports:
#       - 9864
#     command: ["ozone","datanode"]
#     environment:
#       <<: *common-config
#   om:
#     <<: *image
#     ports:
#       - 9874:9874
#     environment:
#         <<: *common-config
#         CORE-SITE.XML_hadoop.proxyuser.hadoop.hosts: "*"
#         CORE-SITE.XML_hadoop.proxyuser.hadoop.groups: "*"
#         ENSURE_OM_INITIALIZED: /data/metadata/om/current/VERSION
#         WAITFOR: scm:9876
#     command: ["ozone","om"]
#   scm:
#     <<: *image
#     ports:
#       - 9876:9876
#     environment:
#       <<: *common-config
#       ENSURE_SCM_INITIALIZED: /data/metadata/scm/current/VERSION
#     command: ["ozone","scm"]
#     volumes:
#       - ./ozone/data:/ozone/data/dn
#   recon:
#     <<: *image
#     ports:
#       - 9888:9888
#     environment:
#       <<: *common-config
#     command: ["ozone","recon"]
#   s3g:
#     <<: *image
#     ports:
#       - 9878:9878
#     environment:
#       <<: *common-config
#     command: ["ozone","s3g"]
#   httpfs:
#     <<: *image
#     ports:
#       - 14000:14000
#     environment:
#       <<: *common-config
#       CORE-SITE.XML_fs.defaultFS: "ofs://om"
#     command: [ "ozone", "httpfs" ]