name: it_one

services:
  database-lib:
    image: postgres:17.5
    restart: unless-stopped
    ports:
      - "10452:5432"
    env_file:
      - .env

  clickhouse:
    image: clickhouse:25.11.3.54-jammy
    restart: unless-stopped
    env_file:
      - ./src/clickhouse/clickhouse.env
    ports:
      - "10453:8123"
      - "10454:9000"
