name: it_one

services:
  dbt-star:
    build: 
      context: .
      dockerfile: Dockerfile.dbt

  seaweedfs:
    image: chrislusf/seaweedfs:4.04
    ports:
      - "10456:8333"
      - "10457:23646"
    command: "server -s3 -dir=/data"
    env_file:
      - ./s3/.env

  database-lib:
    image: postgres:17.5
    restart: unless-stopped
    ports:
      - "10452:5432"
    env_file:
      - .env

  clickhouse:
    image: clickhouse:25.11.3.54-jammy
    restart: unless-stopped
    env_file:
      - ./src/clickhouse/clickhouse.env
    ports:
      - "10453:8123"
      - "10454:9000"

  grafana:
    image: grafana/grafana:12.3.0-18765596677-ubuntu
    restart: unless-stopped
    env_file:
      - ./grafana/.env
    ports:
      - "10455:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/grafana.ini:/usr/local/etc/grafana/grafana.ini
    depends_on:
      - clickhouse
